.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}

.reg-form {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 500px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--regFormBg);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.reg-form__txt-input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid var(--regFormTxtInputBorder);
}

.reg-form__span {
  color: var(--regFormSpanColor);
}

.reg-form__span--disabled {
  color: var(--regFormSpanColorDisabled);
}

.reg-form__room-select {
  border: 1px solid var(--regFormRoomSelectBorder);
}

.reg-form__random-checkbox {
  color: var(--regFormRandomCheckboxColor);
}

.reg-form__btn {
  padding: 5px 10px;
  font-size: 16px;
  background-color: var(--regFormButtonBg);
  color: var(--regFormButtonColor);
  border: none;
}

.reg-form__btn:hover {
  cursor: pointer;
  background-color: var(--regFormButtonHoverBg);
}
